In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
مجموعه داده‌ آموزشی ای که در اختیار داریم شامل ۱۰ ستون است که در جدول زیر، توضیحات هر کدام از ستون‌ها آورده شده است.
</font>
</p>


<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|carat|وزن الماس به معیار قیراط|
|cut|کیفیت ترشخورگی الماس|
|color|رنگ الماس از J(بدترین) تا D (بهترین)|
|clarity|معیار شفافیت الماس از I1 (بدترین), SI2, SI1, VS2, VS1, VVS2, VVS1 تا IF (بهترین)|
|x|طول الماس به میلی‌متر|
|y|عرض الماس به میلی‌متر|
|z|عمق الماس به میلی‌متر|
|depth|عمق درصدی که برابر است با z / mean(x,y)|
|table|عرض عریض‌ترین نقطه بالایی الماس|
|price|قیمت الماس|

</font>
</div>

In [4]:
df = pd.read_csv('../data/diamonds_train.csv')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
49995   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]

In [5]:
# do some preprocessing!

df.cut.unique()
cut_encodeing = {
    "Fair" : 0,
    "Good" : 1,
    "Very Good" : 2,
    "Premium" : 3,
    "Ideal" : 4,
}

df['cut'].replace(cut_encodeing, inplace=True)
df

       carat  cut color clarity  depth  table  price     x     y     z
0       0.23    4     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...   ...     ...    ...    ...    ...   ...   ...   ...
49995   0.72    4     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72    1     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70    2     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    3     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75    4     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]

In [6]:
df.color.unique()
color_encodeing = {
    "D" : 6,
    "E" : 5,
    "F" : 4,
    "G" : 3,
    "H" : 2,
    "I" : 1,
    "J" : 0,
}

df['color'].replace(color_encodeing, inplace=True)
df

       carat  cut  color clarity  depth  table  price     x     y     z
0       0.23    4      5     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      5     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      5     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      1     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      0     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...     ...    ...    ...    ...   ...   ...   ...
49995   0.72    4      6     SI1   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72    1      6     SI1   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70    2      6     SI1   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    3      2     SI2   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75    4      6     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]

In [7]:
clarity_encodeing = {
    "I1" : 0,
    "SI2" : 1,
    "SI1" : 2,
    "VS2" : 3,
    "VS1" : 4,
    "VVS2" : 5,
    "VVS1" : 6,
    "IF" : 7,
}

df['clarity'].replace(clarity_encodeing, inplace=True)
df

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    4      5        1   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      5        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      5        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      1        3   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      0        1   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
49995   0.72    4      6        2   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72    1      6        2   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70    2      6        2   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    3      2        1   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75    4      6        1   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]

In [8]:
# modeling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

train , test = train_test_split(df, test_size=.2, random_state=313)
train , valid = train_test_split(train, test_size=.2, random_state=313)

model = LinearRegression()
model.fit(train.drop('price', axis=1), train.price)

LinearRegression()

In [9]:
print('intercept/bias = ', model.intercept_)
print('coefficients = ', model.coef_)

intercept/bias =  3956.395195367826
coefficients =  [10714.67075625   118.52493494   320.79535257   501.10912121
   -81.10490536   -29.95245988  -786.06294569    18.77898824
  -115.57069137]

In [10]:
# evaluate model
from sklearn.metrics import r2_score
y_pred = model.predict(valid.drop('price', axis=1))
r2_score(valid.price, y_pred)

0.9029737872448929

# Modeling from scratch

$$X\beta = Y$$
$$((X^TX)^{-1}X^T)\ X\  \beta = ((X^TX)^{-1}X^T)\ Y$$
$$\beta = ((X^TX)^{-1}X^T)\ Y$$

In [10]:
X , Y = train.drop('price', axis=1), train.price
X.insert(0, 'intercept',value=1)
X

       intercept  carat  cut  color  clarity  depth  table     x     y     z
35217          1   0.41    4      5        4   61.5   56.0  4.77  4.79  2.94
19372          1   1.11    4      4        3   62.2   54.0  6.62  6.69  4.14
35840          1   0.42    4      6        2   61.7   56.0  4.83  4.79  2.97
19468          1   0.31    1      3        4   63.3   56.0  4.29  4.33  2.73
47829          1   0.72    2      2        3   62.9   58.0  5.70  5.75  3.60
...          ...    ...  ...    ...      ...    ...    ...   ...   ...   ...
9300           1   0.90    1      4        2   63.6   55.0  6.15  6.12  3.90
38278          1   0.58    4      3        1   62.1   54.0  5.36  5.39  3.34
27263          1   0.31    3      3        3   61.5   59.0  4.36  4.32  2.67
34381          1   0.43    3      4        3   61.0   57.0  4.87  4.84  2.96
45364          1   0.34    4      2        3   61.5   54.0  4.50  4.54  2.78

[32000 rows x 10 columns]

In [11]:
left_inverse = np.linalg.inv(X.T@X)@X.T

In [12]:
beta = left_inverse @ Y

In [13]:
print('intercept/bias = ', beta[0])
print('coefficients =\n', beta[1:])

intercept/bias =  3956.3951953273527
coefficients =
 1    10714.670756
2      118.524935
3      320.795353
4      501.109121
5      -81.104905
6      -29.952460
7     -786.062946
8       18.778988
9     -115.570691
dtype: float64

In [14]:
print('intercept/bias = ', model.intercept_)
print('coefficients = ', model.coef_)

intercept/bias =  3956.395195367826
coefficients =  [10714.67075625   118.52493494   320.79535257   501.10912121
   -81.10490536   -29.95245988  -786.06294569    18.77898824
  -115.57069137]